<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCJavaConfigExample:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCJavaConfigExample.war">
      <element id="artifact" artifact-name="SpringMVCJavaConfigExample:war exploded" />
    </root>
  </artifact>
</component>